<a href="https://colab.research.google.com/github/minhtri1610/python/blob/main/pandas_base.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# /content/dulieuxettuyendaihoc.csv

In [1]:
print("hello");

hello

In [3]:
import pandas as pd

df = pd.read_csv('/content/dulieuxettuyendaihoc.csv', header=0, delimiter=',', encoding='utf-8')
df

,STT,T1,L1,H1,S1,V1,X1,D1,N1,T2,...,N6,GT,DT,KV,TB3MONCHINH,TB3MONPHU,TB3MONXETTUYEN,KT,NGAYTHI,HUONGNGHIEP
0,1,7.2,7.3,6.3,7.3,7.0,7.9,7.3,5.5,8.4,...,5.9,F,NaN,2NT,3.25,3.25,4.50,A1,12/7/2018,No
1,2,5.4,3.9,3.9,4.0,5.4,5.4,5.3,2.8,6.3,...,4.4,M,NaN,1,6.00,4.00,3.50,C,12/7/2018,Yes
2,3,5.6,6.8,7.2,7.5,4.3,7.4,5.8,3.2,5.0,...,4.6,M,NaN,1,5.00,6.75,4.00,C,12/7/2018,No
3,4,6.6,6.4,5.3,6.9,5.4,7.3,6.4,5.8,5.1,...,7.4,M,NaN,1,4.25,4.25,5.25,D1,12/7/2018,No
4,5,6.0,5.0,6.0,7.3,6.5,7.7,7.9,6.1,5.4,...,7.2,M,NaN,2NT,4.25,4.50,5.00,A,12/7/2018,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,8.6,6.9,7.4,8.8,7.6,5.8,7.3,5.7,8.9,...,6.2,F,NaN,1,5.25,1.50,6.25,C,07/20/2022,Yes
96,97,3.7,5.4,6.0,5.1,5.5,3.9,6.1,4.4,4.1,...,4.4,F,NaN,1,5.25,3.75,4.75,C,07/20/2022,No
97,98,8.8,5.5,7.4,7.7,6.2,7.3,8.1,4.5,9.5,...,5.8,M,NaN,2NT,7.00,8.00,4.00,C,07/20/2022,Yes
98,99,2.7,1.8,3.4,5.3,4.5,7.9,4.9,3.8,2.8,...,5.9,M,NaN,1,5.00,3.50,5.50,C,07/20/2022,No
99,100,4.1,5.2,4.9,5.3,5.5,5.4,7.2,5.4,4.4,...,5.8,M,NaN,2NT,5.25,2.50,4.25,C,07/20/2022,Yes

In [5]:
df.head(5)
df.tail(5)
df.columns

STT                 int64
T1                float64
L1                float64
H1                float64
S1                float64
V1                float64
X1                float64
D1                float64
N1                float64
T2                float64
L2                float64
H2                float64
S2                float64
V2                float64
X2                float64
D2                float64
N2                float64
T3                float64
L3                float64
H3                float64
S3                float64
V3                float64
X3                float64
D3                float64
N3                float64
T4                float64
L4                float64
H4                float64
S4                float64
V4                float64
X4                float64
D4                float64
N4                float64
T5                float64
L5                float64
H5                float64
S5                float64
V5                float64
X5                float64
D5                float64
N5                float64
T6                float64
L6                float64
H6                float64
S6                float64
V6                float64
X6                float64
D6                float64
N6                float64
GT                 object
DT                float64
KV                 object
TB3MONCHINH       float64
TB3MONPHU         float64
TB3MONXETTUYEN    float64
KT                 object
NGAYTHI            object
HUONGNGHIEP        object
dtype: object

In [6]:
df.dtypes

STT                 int64
T1                float64
L1                float64
H1                float64
S1                float64
V1                float64
X1                float64
D1                float64
N1                float64
T2                float64
L2                float64
H2                float64
S2                float64
V2                float64
X2                float64
D2                float64
N2                float64
T3                float64
L3                float64
H3                float64
S3                float64
V3                float64
X3                float64
D3                float64
N3                float64
T4                float64
L4                float64
H4                float64
S4                float64
V4                float64
X4                float64
D4                float64
N4                float64
T5                float64
L5                float64
H5                float64
S5                float64
V5                float64
X5                float64
D5                float64
N5                float64
T6                float64
L6                float64
H6                float64
S6                float64
V6                float64
X6                float64
D6                float64
N6                float64
GT                 object
DT                float64
KV                 object
TB3MONCHINH       float64
TB3MONPHU         float64
TB3MONXETTUYEN    float64
KT                 object
NGAYTHI            object
HUONGNGHIEP        object
dtype: object

In [7]:
df.shape

(100, 58)

In [8]:
df.index

RangeIndex(start=0, stop=100, step=1)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 58 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   STT             100 non-null    int64
 1   T1              100 non-null    float64
 2   L1              100 non-null    float64
 3   H1              100 non-null    float64
 4   S1              100 non-null    float64
 5   V1              100 non-null    float64
 6   X1              100 non-null    float64
 7   D1              100 non-null    float64
 8   N1              100 non-null    float64
 9   T2              100 non-null    float64
 10  L2              100 non-null    float64
 11  H2              100 non-null    float64
 12  S2              100 non-null    float64
 13  V2              100 non-null    float64
 14  X2              100 non-null    float64
 15  D2              100 non-null    float64
 16  N2              100 non-null    float64
 17  T3              100 non-null    float64
 18  L3              100 non-null    float64
 19  H3              100 non-null    float64
 20  S3              100 non-null    float64
 21  V3              100 non-null    float64
 22  X3              100 non-null    float64
 23  D3              100 non-null    float64
 24  N3              100 non-null    float64
 25  T4              100 non-null    float64
 26  L4              100 non-null    float64
 27  H4              100 non-null    float64
 28  S4              100 non-null    float64
 29  V4              100 non-null    float64
 30  X4              100 non-null    float64
 31  D4              100 non-null    float64
 32  N4              100 non-null    float64
 33  T5              100 non-null    float64
 34  L5              100 non-null    float64
 35  H5              100 non-null    float64
 36  S5              100 non-null    float64
 37  V5              100 non-null    float64
 38  X5              100 non-null    float64
 39  D5              100 non-null    float64
 40  N5              100 non-null    float64
 41  T6              100 non-null    float64
 42  L6              100 non-null    float64
 43  H6              100 non-null    float64
 44  S6              100 non-null    float64
 45  V6              100 non-null    float64
 46  X6              100 non-null    float64
 47  D6              100 non-null    float64
 48  N6              100 non-null    float64
 49  GT              100 non-null    object
 50  DT              3 non-null      float64
 51  KV              100 non-null    object
 52  TB3MONCHINH     100 non-null    float64
 53  TB3MONPHU       100 non-null    float64
 54  TB3MONXETTUYEN  100 non-null    float64
 55  KT              100 non-null    object
 56  NGAYTHI         100 non-null    object
 57  HUONGNGHIEP     100 non-null    object
dtypes: float64(52), int64(1), object(5)
memory usage: 45.4+ KB

In [ ]:
#manipulating data

In [10]:
df['T1']

0     7.2
1     5.4
2     5.6
3     6.6
4     6.0
     ...
95    8.6
96    3.7
97    8.8
98    2.7
99    4.1
Name: T1, Length: 100, dtype: float64

In [11]:
df[['T1']]

     T1
0   7.2
1   5.4
2   5.6
3   6.6
4   6.0
..  ...
95  8.6
96  3.7
97  8.8
98  2.7
99  4.1

[100 rows x 1 columns]

In [13]:
df_T5T6 = df[['T5', 'T6', 'KV', 'KT']]
df_T5T6

     T5   T6   KV  KT
0   7.4  6.9  2NT  A1
1   3.0  4.0    1   C
2   4.8  5.7    1   C
3   6.1  7.4    1  D1
4   6.8  8.0  2NT   A
..  ...  ...  ...  ..
95  7.9  6.6    1   C
96  5.5  5.7    1   C
97  9.0  8.5  2NT   C
98  4.1  4.3    1   C
99  5.6  5.1  2NT   C

[100 rows x 4 columns]

In [14]:
df_T5T6[2:97]
#lấy từ dòng có chỉ số index 2 tới 96

     T5   T6   KV  KT
2   4.8  5.7    1   C
3   6.1  7.4    1  D1
4   6.8  8.0  2NT   A
5   8.5  7.8    1  D1
6   5.4  5.3    2   C
..  ...  ...  ...  ..
92  8.0  7.5    1   A
93  7.3  7.3    1   A
94  7.3  6.7    1   A
95  7.9  6.6    1   C
96  5.5  5.7    1   C

[95 rows x 4 columns]

In [ ]:
df_T5T6.loc[4:10]
# lấy dòng từ chỉ số 4 tới chỉ số 10

In [15]:
df_T5T6.loc[5:9, ['T6', 'KT']]

    T6  KT
5  7.8  D1
6  5.3   C
7  8.3  D1
8  7.7  D1
9  6.9  D1

In [16]:
df_T5T6.iloc[5]

T5    8.5
T6    7.8
KV      1
KT     D1
Name: 5, dtype: object

In [17]:
df_T5T6.iloc[6:9]

    T5   T6 KV  KT
6  5.4  5.3  2   C
7  8.5  8.3  2  D1
8  7.7  7.7  1  D1

In [18]:
df_T5T6.iloc[:5]

    T5   T6   KV  KT
0  7.4  6.9  2NT  A1
1  3.0  4.0    1   C
2  4.8  5.7    1   C
3  6.1  7.4    1  D1
4  6.8  8.0  2NT   A

In [19]:
df_T5T6.iloc[95:]

     T5   T6   KV KT
95  7.9  6.6    1  C
96  5.5  5.7    1  C
97  9.0  8.5  2NT  C
98  4.1  4.3    1  C
99  5.6  5.1  2NT  C

In [20]:
df_T5T6.iloc[2:5, 1:3]

    T6   KV
2  5.7    1
3  7.4    1
4  8.0  2NT

In [21]:
# sort dữ liêu
df_T5T6.sort_values(by='T5', ascending=True)

     T5   T6   KV  KT
1   3.0  4.0    1   C
37  3.2  3.7    2   A
22  3.4  4.1    2   C
15  3.4  5.3    1  D1
69  3.5  5.6    1   B
..  ...  ...  ...  ..
90  8.9  8.5    2   A
97  9.0  8.5  2NT   C
20  9.3  8.4    1   A
12  9.3  8.3    1  D1
55  9.5  9.5  2NT  A1

[100 rows x 4 columns]

In [22]:
df_T5T6.sort_values(by = ['T5', 'T6'], ascending=[True, False])
#sắp xếp giảm dần theo T5 nếu hai giá trị của T5 bằng nhau thì sắp xếp tăng dần theo T6

     T5   T6   KV  KT
1   3.0  4.0    1   C
37  3.2  3.7    2   A
15  3.4  5.3    1  D1
22  3.4  4.1    2   C
69  3.5  5.6    1   B
..  ...  ...  ...  ..
90  8.9  8.5    2   A
97  9.0  8.5  2NT   C
20  9.3  8.4    1   A
12  9.3  8.3    1  D1
55  9.5  9.5  2NT  A1

[100 rows x 4 columns]

In [23]:
df_T5T6[df_T5T6['T6'] >= 8]

     T5   T6   KV  KT
4   6.8  8.0  2NT   A
7   8.5  8.3    2  D1
11  8.0  8.1    2  D1
12  9.3  8.3    1  D1
14  8.6  8.5  2NT   A
18  6.6  8.5    1   A
19  7.1  8.9    2   A
20  9.3  8.4    1   A
28  8.3  8.4  2NT   A
31  6.3  8.0    1   A
36  7.8  8.1    1   A
41  8.8  8.5    2   A
47  8.6  8.1    2   A
55  9.5  9.5  2NT  A1
56  8.5  8.7    1   A
61  7.9  8.9    1   A
68  8.4  8.1    1   B
70  6.5  8.2    2   A
71  6.8  9.0    1   B
74  8.0  8.5    1   A
80  8.7  9.3  2NT   A
83  5.5  8.2    1   B
84  8.2  8.6    1   A
90  8.9  8.5    2   A
91  8.6  9.4  2NT   A
97  9.0  8.5  2NT   C

In [24]:
df_T5T6[ (df_T5T6['T6'] >= 7 ) & (df_T5T6['T6'] >= 8 )]

     T5   T6   KV  KT
4   6.8  8.0  2NT   A
7   8.5  8.3    2  D1
11  8.0  8.1    2  D1
12  9.3  8.3    1  D1
14  8.6  8.5  2NT   A
18  6.6  8.5    1   A
19  7.1  8.9    2   A
20  9.3  8.4    1   A
28  8.3  8.4  2NT   A
31  6.3  8.0    1   A
36  7.8  8.1    1   A
41  8.8  8.5    2   A
47  8.6  8.1    2   A
55  9.5  9.5  2NT  A1
56  8.5  8.7    1   A
61  7.9  8.9    1   A
68  8.4  8.1    1   B
70  6.5  8.2    2   A
71  6.8  9.0    1   B
74  8.0  8.5    1   A
80  8.7  9.3  2NT   A
83  5.5  8.2    1   B
84  8.2  8.6    1   A
90  8.9  8.5    2   A
91  8.6  9.4  2NT   A
97  9.0  8.5  2NT   C

In [25]:
df_T5T6.loc[df_T5T6['KT'] == 'C']

     T5   T6   KV KT
1   3.0  4.0    1  C
2   4.8  5.7    1  C
6   5.4  5.3    2  C
22  3.4  4.1    2  C
23  5.3  6.1  2NT  C
24  4.4  3.8    1  C
25  5.8  3.7    1  C
26  6.1  6.8    1  C
27  5.8  5.6  2NT  C
95  7.9  6.6    1  C
96  5.5  5.7    1  C
97  9.0  8.5  2NT  C
98  4.1  4.3    1  C
99  5.6  5.1  2NT  C

In [26]:
#hàm tổng hợp
df_T5T6.aggregate({'T5': ['min', 'max'], 'T6' : ['sum', 'mean']})

       T5       T6
min   3.0      NaN
max   9.5      NaN
sum   NaN  693.700
mean  NaN    6.937

In [27]:
#groupby
df_T5T6.groupby(['KV'])['KV'].agg(['count'])

     count
KV
1       60
2       19
2NT     21

In [28]:
df_T5T6.groupby(['KV'])['T5'].agg(['min', 'max', 'sum', 'mean'])

     min  max    sum      mean
KV
1    3.0  9.3  390.9  6.515000
2    3.2  8.9  128.9  6.784211
2NT  5.3  9.5  151.9  7.233333

In [29]:
df_T5T6.groupby(['KV'])['T5', 'T6'].agg(['min', 'max'])

<ipython-input-29-a15aca71ccd4>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_T5T6.groupby(['KV'])['T5', 'T6'].agg(['min', 'max'])

      T5        T6
     min  max  min  max
KV
1    3.0  9.3  3.7  9.0
2    3.2  8.9  3.7  8.9
2NT  5.3  9.5  5.1  9.5

In [30]:
df_T5T6.groupby(['KV', 'KT'])['T5', 'T6'].agg(['min', 'max'])

<ipython-input-30-16b508270400>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_T5T6.groupby(['KV', 'KT'])['T5', 'T6'].agg(['min', 'max'])

         T5        T6
        min  max  min  max
KV  KT
1   A   4.7  9.3  4.0  8.9
    A1  7.4  7.8  6.4  7.1
    B   3.5  8.4  5.2  9.0
    C   3.0  7.9  3.7  6.8
    D1  3.4  9.3  4.9  8.3
2   A   3.2  8.9  3.7  8.9
    C   3.4  5.4  4.1  5.3
    D1  5.8  8.5  6.0  8.3
2NT A   5.8  8.7  5.7  9.4
    A1  6.7  9.5  6.6  9.5
    B   7.8  7.8  6.9  6.9
    C   5.3  9.0  5.1  8.5
    D1  7.4  7.4  5.9  5.9

In [34]:
# Pivot
pd.pivot_table(df_T5T6, values=['T5','T6'], columns='KV', aggfunc=['min', 'max', 'sum', 'mean'])

    min            max              sum                    mean            \
KV    1    2  2NT    1    2  2NT      1      2    2NT         1         2
T5  3.0  3.2  5.3  9.3  8.9  9.5  390.9  128.9  151.9  6.515000  6.784211
T6  3.7  3.7  5.1  9.0  8.9  9.5  404.6  135.0  154.1  6.743333  7.105263


KV       2NT
T5  7.233333
T6  7.338095

In [35]:
pd.pivot_table(df_T5T6, values=['T5','T6'], columns=['KV', 'KT'], aggfunc=['min', 'max', 'sum', 'mean'])

    min                                               ...   mean            \
KV    1                        2            2NT       ...      1
KT    A   A1    B    C   D1    A    C   D1    A   A1  ...      C        D1
T5  4.7  7.4  3.5  3.0  3.4  3.2  3.4  5.8  5.8  6.7  ...  5.200  6.315385
T6  4.0  6.4  5.2  3.7  4.9  3.7  4.1  6.0  5.7  6.6  ...  5.075  6.561538


KV         2                    2NT
KT         A    C      D1         A     A1    B      C   D1
T5  7.144444  4.4  6.9750  7.263636  7.775  7.8  6.425  7.4
T6  7.477778  4.7  7.2875  7.763636  7.650  6.9  6.325  5.9

[2 rows x 52 columns]